@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Metropolis Extra';
    src: url('./font/Metropolis-ExtraLightItalic.eot');
    src: local('Metropolis Extra Light Italic'), local('Metropolis-ExtraLightItalic'),
        url('./font/Metropolis-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-ExtraLightItalic.woff2') format('woff2'),
        url('./font/Metropolis-ExtraLightItalic.woff') format('woff'),
        url('./font/Metropolis-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('./font/Metropolis-RegularItalic.eot');
    src: local('Metropolis Regular Italic'), local('Metropolis-RegularItalic'),
        url('./font/Metropolis-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-RegularItalic.woff2') format('woff2'),
        url('./font/Metropolis-RegularItalic.woff') format('woff'),
        url('./font/Metropolis-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis Semi';
    src: url('./font/Metropolis-SemiBoldItalic.eot');
    src: local('Metropolis Semi Bold Italic'), local('Metropolis-SemiBoldItalic'),
        url('./font/Metropolis-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-SemiBoldItalic.woff2') format('woff2'),
        url('./font/Metropolis-SemiBoldItalic.woff') format('woff'),
        url('./font/Metropolis-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('./font/Metropolis-BlackItalic.eot');
    src: local('Metropolis Black Italic'), local('Metropolis-BlackItalic'),
        url('./font/Metropolis-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-BlackItalic.woff2') format('woff2'),
        url('./font/Metropolis-BlackItalic.woff') format('woff'),
        url('./font/Metropolis-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('./font/Metropolis-ThinItalic.eot');
    src: local('Metropolis Thin Italic'), local('Metropolis-ThinItalic'),
        url('./font/Metropolis-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-ThinItalic.woff2') format('woff2'),
        url('./font/Metropolis-ThinItalic.woff') format('woff'),
        url('./font/Metropolis-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis Extra';
    src: url('./font/Metropolis-ExtraBold.eot');
    src: local('Metropolis Extra Bold'), local('Metropolis-ExtraBold'),
        url('./font/Metropolis-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-ExtraBold.woff2') format('woff2'),
        url('./font/Metropolis-ExtraBold.woff') format('woff'),
        url('./font/Metropolis-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Semi';
    src: url('./font/Metropolis-SemiBold.eot');
    src: local('Metropolis Semi Bold'), local('Metropolis-SemiBold'),
        url('./font/Metropolis-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-SemiBold.woff2') format('woff2'),
        url('./font/Metropolis-SemiBold.woff') format('woff'),
        url('./font/Metropolis-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('./font/Metropolis-MediumItalic.eot');
    src: local('Metropolis Medium Italic'), local('Metropolis-MediumItalic'),
        url('./font/Metropolis-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-MediumItalic.woff2') format('woff2'),
        url('./font/Metropolis-MediumItalic.woff') format('woff'),
        url('./font/Metropolis-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('./font/Metropolis-Medium.eot');
    src: local('Metropolis Medium'), local('Metropolis-Medium'),
        url('./font/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-Medium.woff2') format('woff2'),
        url('./font/Metropolis-Medium.woff') format('woff'),
        url('./font/Metropolis-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('./font/Metropolis-LightItalic.eot');
    src: local('Metropolis Light Italic'), local('Metropolis-LightItalic'),
        url('./font/Metropolis-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-LightItalic.woff2') format('woff2'),
        url('./font/Metropolis-LightItalic.woff') format('woff'),
        url('./font/Metropolis-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('./font/Metropolis-Light.eot');
    src: local('Metropolis Light'), local('Metropolis-Light'),
        url('./font/Metropolis-Light.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-Light.woff2') format('woff2'),
        url('./font/Metropolis-Light.woff') format('woff'),
        url('./font/Metropolis-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('./font/Metropolis-Black.eot');
    src: local('Metropolis Black'), local('Metropolis-Black'),
        url('./font/Metropolis-Black.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-Black.woff2') format('woff2'),
        url('./font/Metropolis-Black.woff') format('woff'),
        url('./font/Metropolis-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('./font/Metropolis-Thin.eot');
    src: local('Metropolis Thin'), local('Metropolis-Thin'),
        url('./font/Metropolis-Thin.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-Thin.woff2') format('woff2'),
        url('./font/Metropolis-Thin.woff') format('woff'),
        url('./font/Metropolis-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Extra';
    src: url('./font/Metropolis-ExtraBoldItalic.eot');
    src: local('Metropolis Extra Bold Italic'), local('Metropolis-ExtraBoldItalic'),
        url('./font/Metropolis-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-ExtraBoldItalic.woff2') format('woff2'),
        url('./font/Metropolis-ExtraBoldItalic.woff') format('woff'),
        url('./font/Metropolis-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis Extra';
    src: url('./font/Metropolis-ExtraLight.eot');
    src: local('Metropolis Extra Light'), local('Metropolis-ExtraLight'),
        url('./font/Metropolis-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-ExtraLight.woff2') format('woff2'),
        url('./font/Metropolis-ExtraLight.woff') format('woff'),
        url('./font/Metropolis-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('./font/Metropolis-Bold.eot');
    src: local('Metropolis Bold'), local('Metropolis-Bold'),
        url('./font/Metropolis-Bold.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-Bold.woff2') format('woff2'),
        url('./font/Metropolis-Bold.woff') format('woff'),
        url('./font/Metropolis-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('./font/Metropolis-Regular.eot');
    src: local('Metropolis Regular'), local('Metropolis-Regular'),
        url('./font/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-Regular.woff2') format('woff2'),
        url('./font/Metropolis-Regular.woff') format('woff'),
        url('./font/Metropolis-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('./font/Metropolis-BoldItalic.eot');
    src: local('Metropolis Bold Italic'), local('Metropolis-BoldItalic'),
        url('./font/Metropolis-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/Metropolis-BoldItalic.woff2') format('woff2'),
        url('./font/Metropolis-BoldItalic.woff') format('woff'),
        url('./font/Metropolis-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

